{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>AIONE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/book.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/Aione-Home">AI-ONE</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/Aione-Home">Home</a></li>
          <li><a class="nav-link scrollto" href="/aione-services">Services</a></li>
          <li class="dropdown"><a href="#"><span>Free Tools</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/YT-Video">YouTube Video Downloader</a></li>
              <li><a href="/video2audio">YT Video to Audio Online</a></li>
              <li><a href="/check-videodetails">Check YT video details</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/aione-contact-us">Contact Us</a></li>
          <li><a class="nav-link scrollto" href="/aione-about-us">About Us</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Everything You Need</h1>
          <h2>We Provide Different Tools Which You Need</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="/aione-services" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="static/assets/img/hero-img.svg" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">


    
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Are you looking for exceptional services that can help you save time and money, while ensuring high-quality results? Look no further! Our team of experienced professionals is dedicated to providing top-notch services that meet your unique needs.</p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-youtube"></i></div>
              <h4><a href="/YT-Video">YT Video Downloader</a></h4>
              <p>Download Video from YouTube Free</p>
            </div>
          </div>

          {% comment %} <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-info-circle-fill"></i></div>
              <h4><a href="/domain-informations">Domain Information Chcekr</a></h4>
              <p>Check Domain Information Free</p>
            </div>
          </div> {% endcomment %}

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-music-note"></i></div>
              <h4><a href="/video2audio">YT Video to Audio Online</a></h4>
              <p>Download video form YouTube and convert into Audio</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-book-fill"></i></div>
              <h4><a href="/check-videodetails">Check YT Video Details Free</a></h4>
              <p>Download video form YouTube and convert into Audio</p>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Services Section -->


   <!-- ======= Frequently======= -->
   <section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2 style="text-align:left;">What is YouTube video downloader</h2>
        <p>
          A YouTube video downloader is a tool or software that allows users to download videos from YouTube onto their devices. Here are some common features and headings to look for when choosing a YouTube video downloader:
        </p>
        <br>
          <p>
            Supported platforms: The downloader should be compatible with the operating system of your device, such as Windows, Mac, iOS, or Android.
          </p>
          <br>
          <p>
            Download formats: A good downloader will offer multiple formats for downloading, such as MP4, AVI, FLV, etc.
          </p>    
          <br>
          <p>
            Video quality: Check if the downloader supports downloading videos in different resolutions, including 720p, 1080p, and 4K.
          </p>    
          <br>
          <p>
            Download speed: Look for a downloader that can download videos quickly without compromising on the quality.
          </p>    
          <br>
          <p>
            Batch downloading: If you need to download multiple videos, make sure the downloader supports batch downloading to save time.
          </p>    
          <br>
          <p>
            User interface: Choose a downloader with a user-friendly interface that is easy to navigate.
          </p>    
          <br>
          <p>
            Ad-free: Avoid downloaders that display intrusive ads that interrupt the downloading process.
          </p>    
          <br>
          <p>
            Security: Make sure the downloader is safe to use and doesn't contain any malware or viruses that could harm your device.
          </p>    
          <br>
          <p>
            Customer support: Check if the downloader offers customer support in case you encounter any issues during the downloading process.
          </p>  
          <div>
           <button class="read">
            Read More
           </button>
          </div>     
      </div>
    </div>
  </section><!-- End  -->





    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>FAQ</h2>
          <p>
            FAQ stands for "Frequently Asked Questions." It is a document or page that contains a list of questions and answers that are commonly asked by people about a particular topic or product. FAQ pages are often used on websites to help users find information quickly and easily without having to contact customer support or search through multiple pages of content. They are also commonly used in product manuals, user guides, and other instructional materials to provide answers to common questions that users may have.
          </p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">How does works YouTube video downloader<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  YouTube video downloaders are tools that allow you to download videos from YouTube and save them on your device, so you can watch them offline at any time without an internet connection. These downloaders work by extracting the video files from YouTube's servers and then saving them in a compatible format on your device.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">How does works Video to Audio Tool<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  The video to audio tool usually allows users to choose the output format and quality of the audio file. Users can also select specific sections of the video to extract the audio from, which is useful when working with longer videos or movies.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">What is AI<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  AI stands for artificial intelligence, which refers to the development of computer systems that can perform tasks that typically require human intelligence, such as visual perception, speech recognition, decision-making, and natural language understanding. AI technologies are designed to learn from data, adapt to new situations, and make predictions or decisions based on the information they have been trained on.
                </p>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p style="font-family:'Poppins';font-size:16px;">Join our newsletter to stay up-to-date with the latest news, trends, and insights in your area of interest!</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">


          <div class="col-lg-4 col-md-6 footer-links">
            <h4>AIONE</h4>
            <p style="font-family:'Poppins';font-size:15px;">AIONE is a Open-Ai website.We provide different tools which you need.Our mission is to assist you with answering your questions, providing information, and engaging in conversation.</p>
          </div>


          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Quick Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/Aione-Home">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/aione-about-us">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/aione-services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/YT-Video">YouTube Video Downloader</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/video2audio">Video 2 Audio Online</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/Video-Details">Check Video Details</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        Copyright &copy; 2022 <strong><span>AIONE</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader">
    <div id="status">&nbsp;</div>
  </div>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</body>

</html>