<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Services | AIONE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/book.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

</head>

<body>

 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="/Aione-Home">AI-ONE</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" href="/Aione-Home">Home</a></li>
        <li><a class="nav-link scrollto" href="/aione-services">Services</a></li>
        <li class="dropdown"><a href="#"><span>Free Tools</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="/YT-Video">YouTube Video Downloader</a></li>
            <li><a href="/video2audio">YT Video to Audio Online</a></li>
            <li><a href="/check-videodetails">Check YT video details</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="//aione-contact-us">Contact Us</a></li>
        <li><a class="nav-link scrollto" href="/aione-about-us">About Us</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <h1>Everything You Need</h1>
        <h2>We Provide Different Tools Which You Need</h2>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="/aione-services" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        <img src="static/assets/img/hero-img.svg" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Services</li>
        </ol>
        <h2>Services</h2>

      </div>
    </section><!-- End Breadcrumbs -->

        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
          <div class="container" data-aos="fade-up">
    
   <!-- ======= Services Section ======= -->
   <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Services</h2>
        <p>Are you looking for exceptional services that can help you save time and money, while ensuring high-quality results? Look no further! Our team of experienced professionals is dedicated to providing top-notch services that meet your unique needs.</p>
      </div>

      <div class="row">
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-youtube"></i></div>
            <h4><a href="/YT-Video">YT Video Downloader</a></h4>
            <p>Download Video from YouTube Free</p>
          </div>
        </div>

        {% comment %} <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-info-circle-fill"></i></div>
            <h4><a href="/domain-informations">Domain Information Chcekr</a></h4>
            <p>Check Domain Information Free</p>
          </div>
        </div> {% endcomment %}

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-music-note"></i></div>
            <h4><a href="/video2audio">YT Video to Audio Online</a></h4>
            <p>Download video form YouTube and convert into Audio</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-book-fill"></i></div>
            <h4><a href="/check-videodetails">Check YT Video Details Free</a></h4>
            <p>Download video form YouTube and convert into Audio</p>
          </div>
        </div>


      </div>

    </div>
  </section><!-- End Services Section -->
          </div>
        </section><!-- End About Us Section -->

  </main><!-- End #main -->


   <!-- ======= Footer ======= -->
 <footer id="footer">


  <div class="footer-top">
    <div class="container">
      <div class="row">


        <div class="col-lg-4 col-md-6 footer-links">
          <h4>AIONE</h4>
          <p style="font-family:'Poppins';font-size:15px;">AIONE is a Open-Ai website.We provide different tools which you need.Our mission is to assist you with answering your questions, providing information, and engaging in conversation.</p>
        </div>


        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Quick Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/Aione-Home">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/aione-about-us">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/aione-services">Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="">Terms of service</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/YT-Video">YouTube Video Downloader</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/video2audio">Video 2 Audio Online</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/Video-Details">Check Video Details</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      Copyright &copy; 2022 <strong><span>AIONE</span></strong>. All Rights Reserved
    </div>
  </div>
</footer><!-- End Footer -->


  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>