{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Video to Audio Online</title>
    <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="static/assets/css/style.css" rel="stylesheet">
    <style>
            
	  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: white;
      opacity: 1; /* Firefox */
      }
    </style>
    <script>
      function show(){
          var container = document.getElementById("show")
          container.innerHTML = "<p>Your Video is downloading</p>"
      }
  </script>
  </head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top "  style="background:#6d35dc;">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="/Aione-Home">AI-ONE</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" href="/Aione-Home">Home</a></li>
        <li><a class="nav-link scrollto" href="/aione-services">Services</a></li>
        <li class="dropdown"><a href="#"><span>Free Tools</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="/YT-Video">YouTube Video Downloader</a></li>
            <li><a href="/video2audio">YT Video to Audio Online</a></li>
            <li><a href="/check-videodetails">Check YT video details</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="//aione-contact-us">Contact Us</a></li>
        <li><a class="nav-link scrollto" href="/aione-about-us">About Us</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->




  <div class="container" id="top" >
    <section class="about">
      <div class="container" data-aos="fade-up">
    
        <div class="section-title">
        <h2 style="margin-top:100px;text-align:center;">Enter YouTube Video link here</h2>
      </div>

      <div class="row">
          <div class="left-content header-text" style="margin-top:50px;">
            <form  class="search-form"id="search" action="downloadmp3" method="POST">
              {% csrf_token %}
              <div class="form" style="text-align: center;">
                <input type="address" name="address"  style="margin: 0 0 1em;
                border: none;
                outline: none;
                width: 90%;
                /* padding: 17px; */
                height: 50px;
                border-radius: 10px;
                padding: 8px;
                background: #6d35dc;
                color: white;
            }"
                 placeholder="Enter YouTube Video Link" autocomplete="on" required>
              </div>
                <button type="submit" onclick="show()" style="    display: block;
                margin-left: auto;
                margin-right: auto;
                padding: 8px;
                width: 30%;
                border: none;
                border-radius: 6px;
                font-family: sans-serif;
                font-size: 19px;
                margin-top: 20px;
                background: #6d35dc;
                color:white;
                " class="main-button" data-bs-toggle="modal" data-bs-target="#myModal">Download Video</button>
            </form>             
       
            <div id="show" style="
            text-align: center;
            font-family: sans-serif;
            margin-top: 50px;
            font-size: 20px;
            margin-left: auto;
            margin-right: auto;">
            </div>

          </div>
        </div>
      </div>
	</section>
</div>


  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">


      <div class="row content container">
        <div class="section-title">
          <h2 style="text-transform: capitalize;margin-top:50px;">Video to Audio Online</h2>
        </div>
        <div class="text1"> 
         <p>
          YouTube has emerged as a popular platform for sharing videos online. With over two billion monthly active users, it is undoubtedly the largest video-sharing website globally. However, not everyone has the luxury of time to watch videos all day long. Additionally, some individuals might be in situations that restrict them from watching videos, such as when driving, cooking, or working out. For this reason, YouTube video to audio conversion has become increasingly popular.
         </p>
        </div>  
        <div class="text1">
          <p>
            YouTube video to audio conversion refers to the process of extracting audio content from a YouTube video and converting it to an audio file. The resulting audio file can be played on a variety of devices such as smartphones, tablets, laptops, and desktops, making it more convenient for individuals who prefer to listen to audio rather than watch videos.
          </p> 
        </div>  
        <div class="text1">                
          <p>
            The process of converting YouTube video to audio is simple and straightforward. There are various tools and software available online that can be used for this purpose. Some popular options include online converters, desktop software, and browser extensions. The choice of tool to use is dependent on the individual's preference and the features they are looking for.
          </p>    
        </div>  
        <div class="text1">
          <p>
            Browser extensions are another convenient option for YouTube video to audio conversion. These are plugins installed on the user's web browser and offer a quick and easy way to convert YouTube videos to audio without leaving the YouTube website. They usually add a download button to the YouTube video page, and users can simply click on the button to download the audio file.
          </p> 
        </div>  
        <div class="text1">
          <p>
            One of the benefits of converting YouTube video to audio is that it allows individuals to listen to their favorite content without having to watch the video. This is particularly useful for individuals who spend a lot of time commuting, working out, or engaging in activities that require their attention. It also allows individuals with visual impairments to access the audio content on YouTube.
          </p> 
        </div>  
        <div class="text1">
          <p>
            Another benefit of YouTube video to audio conversion is that it reduces the data usage when accessing content on YouTube. Videos tend to consume a lot of data, and individuals with limited data plans might not be able to watch as many videos as they would like. Converting the video to audio reduces the data usage, making it possible for individuals to listen to more content without exceeding their data limit.
          </p> 
        </div>  
        

      </div>

    </div>
  </section><!-- End About Us Section -->

 <!-- ======= Footer ======= -->
 <footer id="footer">


  <div class="footer-top">
    <div class="container">
      <div class="row">


        <div class="col-lg-4 col-md-6 footer-links">
          <h4>AIONE</h4>
          <p style="font-family:'Poppins';font-size:15px;">AIONE is a Open-Ai website.We provide different tools which you need.Our mission is to assist you with answering your questions, providing information, and engaging in conversation.</p>
        </div>


        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Quick Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/Aione-Home">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/aione-about-us">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/aione-services">Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="">Terms of service</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/YT-Video">YouTube Video Downloader</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/video2audio">Video 2 Audio Online</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/Video-Details">Check Video Details</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      Copyright &copy; 2022 <strong><span>AIONE</span></strong>. All Rights Reserved
    </div>
  </div>
</footer><!-- End Footer -->
   

							 <!-- Template Main JS File -->
               <script src="static/assets/vendor/aos/aos.js"></script>
               <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
               <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
               <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
               <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
               <script src="static/assets/vendor/waypoints/noframework.waypoints.js"></script>
               <script src="static/assets/vendor/php-email-form/validate.js"></script>
             
               <!-- Template Main JS File -->
               <script src="static/assets/js/main.js"></script>
               <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
 </body>    


</html>